.nullaLobortisNunc,
.text {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.nullaLobortisNunc {
  line-height: 31.77px;
  font-weight: 500;
  display: inline-block;
}
.text {
  right: 0;
  bottom: 0;
}
.titlesubtitle {
  align-self: stretch;
  height: 32.5px;
  position: relative;
  flex-shrink: 0;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-2xl-2);
  color: var(--color-gray-200);
  font-family: var(--paragraph);
}
@media screen and (max-width: 450px) {
  .nullaLobortisNunc {
    font-size: var(--font-size-mid);
    line-height: 25px;
  }
}
